body {
    background-image: url("../assets/img/159889584805467782.gif");
    background-attachment: fixed;
}

ul {
    color: white;
    list-style: none;
}

.container {
    background-color: rgba(0, 0, 0, 0.829);
}

#search-bar {
    background-color: #3b3b3ba6
}

.searchfield {
    margin-top: auto;
    width: 100px;
    background-color: #3B3B3B;
}

.searchfield:hover {
    color: red;
}

#movie-carousel {
    background-color: grey;
    max-height: 350px;
    overflow: hidden;
}

.movie-poster {
    margin: 10px;
}

.movie-poster-img:hover {
    border: red solid 2px;
}

#side-bar,
#movie-overview {
    background-color: #3b3b3ba6;
}

a {
    text-decoration: underline;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: red;
}

p {
    color: white;
    font-size: large;
}

h1 {
    color: white;
}

#movie-info,
.add-movie-page {
    background-color: #3b3b3ba6;
}

h1 a {
    color: red;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40;
    letter-spacing: 3px;
}

h4 a {
    color: white;
    text-decoration: none;
}

#filter-expand .card {
    background: none;
    color: white;
}

#filter-expand>.card>.card-header,
.footer {
    background-color: rgba(0, 0, 0, 0.45)
}

#filter-expand .card .card-header h2 .btn-link {
    color: white;
}

#filter-expand .card .card-header h2 .btn-link:hover {
    color: red;
}

.form-layout {
    color: white;
}

.check-list li {
    color: white;
    list-style: none;
}